<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:fb="http://typo3.org/ns/Fbreuer/MetinCms/ViewHelpers">
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Viewhelper CMS Test</title>

    <!-- Bootstrap Core CSS -->
    <link href="inc/external/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Owl Slider CSS -->
    <link href="inc/external/owl-slide/css/owl.carousel.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="inc/external/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Internal Settings -->
    <link href="inc/internal/css/main.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

</head>

<body>
     <div class="menü-icon" title="Menü">
         <span> </span>
         <span> </span>
         <span> </span>
     </div>
    <section id="banner">
        <div class="inner">
            <h1>This is Solid State</h1>
            <p>Another free + fully responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
        </div>
    </section>
    <section class="section-default section-white">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-offset-2">
                    <h2 class="headline">Lorem ipsum dolor sit am</h2>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing eli</p>
                </div>
            </div>
        </div>
    </section>
     <section class="section-default section-white">
         <div class="container">
             <div class="row">
                 <div class="col-sm-6">
                     <h2 class="headline">Contact Us</h2>
                 </div>
                 <form role="form">
                     <div class="col-sm-6">
                         <div class="form-group">
                             <label>Text Input</label>
                             <input class="form-control">
                             <p class="help-block">Example block-level help text here.</p>
                         </div>
                         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing eli</p>
                     </div>
                     <div class="col-sm-6">
                         <h3 class="headline">Lorem ipsum dolor sit am</h3>
                         <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing eli</p>
                     </div>
                 </form>
             </div>
         </div>
     </section>
     <section class="contact">
         <div class="container">
             <div class="row">
                 <div class="col-sm-8">
                <h2>Contact Us!</h2>
                </div>
             </div>
             <form role="form">
                 <div class="row">
                     <div class="col-sm-6">
                         <div class="form-group">
                             <input placeholder="Dein Name" class="form-control">
                         </div>
                         <div class="form-group">
                             <input placeholder="Deine E-Mail Adresse" class="form-control">
                         </div>
                     </div>
                     <div class="col-sm-6">
                         <div class="form-group">
                             <textarea placeholder="Text oder so..." class="form-control" ></textarea>
                         </div>
                     </div>
                     <div class="col-sm-12">
                         <div class="form-group">
                             <button class="btn-default" >Absenden</button>
                         </div>
                     </div>
                 </div>
            </form>
         </div>
     </section>


    <div class="container-fluid">
        <f:render section="Main" />
    </div>


    <script src="inc/external/bootstrap/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="inc/external/bootstrap/js/bootstrap.min.js"></script>
        <!-- Owl Slider JavaScript -->
    <script src="inc/external/owl-slide/js/owl.carousel.min.js"></script>


    <script src="inc/internal/js/main.js"></script>
</body>

</html>
</div>

